body,.content-wrapper{
	background-color: #444;
}


.skin-black-light .main-header>.logo {
    background-color: #666;
    color: #333;
    border-bottom: 0 solid transparent;
    border-right: 1px solid #666;
}

.datepicker{
	padding-left: 15px;
}

.login-logo a, .register-logo a{
	color: #e7d367;
}

.skin-black-light .wrapper, .skin-black-light .main-sidebar, .skin-black-light .left-side{
	background-color: #666;
}

.skin-black-light .user-panel>.info, .skin-black-light .user-panel>.info>a, .skin-black-light .sidebar a{
	color: #EEE;
}

.skin-black-light .sidebar-menu>li:hover>a, .skin-black-light .sidebar-menu>li.active>a{
	color: #EEEEEE;
}

.skin-black-light .sidebar-menu>li:hover>a, .skin-black-light .sidebar-menu>li.active>a{
	background :#444;
}

.logo-lg{
	color:#E2C150;
	font-style: italic;
	font-size: 30px;
	-webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #E2C150;
}

.sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini {
	font-size: 25px;
	color: #E2C150;
	-webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #E2C150;
}

.custom-login{
	background-color: #e7d367;
}

.skin-black-light .content-wrapper, .skin-black-light .main-footer{
	border-left:1px solid #E2C150;
}

.skin-black-light .main-header{
	border-bottom:1px solid #E2C150;
}

.skin-black-light .main-header>.navbar .navbar-custom-menu .navbar-nav>li>a, .skin-black-light .main-header>.navbar .navbar-right>li>a{
	border-left:1px solid #EEE;
	color: #EEE;
}

.skin-black-light .main-header>.navbar>.sidebar-toggle{
	border-right:1px solid #E2C150;
	border-left:1px solid #E2C150;
	background-color: #666;
}

.skin-black-light .main-header>.navbar>.sidebar-toggle{
	color: #E2C150;
}

.skin-black-light .main-header>.navbar .navbar-custom-menu .navbar-nav>li>a, .skin-black-light .main-header>.navbar .navbar-right>li>a{
	background-color: #666;
}

.skin-black-light .sidebar-menu>li.header{
	background-color: #444;
	color: white;
}

.skin-black-light .main-header>.navbar{
	background-color: #666;
}


.content-wrapper, .right-side{
	background-color: white;
}

.box-header.with-border{
	border-bottom: 1px solid #E2C150;
}

.box.box-default{
	border-top-color:#E2C150;
}

.skin-black-light .treeview-menu>li>a{
	color: #eee;
}

.skin-black-light .sidebar-menu>li>.treeview-menu{
	background: #777;
}

.skin-black-light .treeview-menu>li.active>a, .skin-black-light .treeview-menu>li>a:hover{
	color: #eee;
}

.skin-black-light .main-header li.user-header{
	background-color: 	#E2C150;
}

.skin-black-light{
	font-family: "adelle-sans", Helvetica, Arial, Sans-Serif;
}

.navbar-inverse{
	padding: 25px 0;
    background-color: #E2C150;
    border-color:#e7d367;
}

.skin-black-light .sidebar-menu>li>a{
	font-weight: 100;
}

footer{
	position: absolute;
    bottom: 0;
    width: 100%;
}

footer .footer-bellow{
	padding: 25px;
    background-color: #E2C150;
    color: #444;
}

footer .footer-above{
	padding-top: 50px;
    background-color: #e7d367;
}


.btn-warning {
    background-color: #ffb752;
    border-color: #ffb752;
}

.btn-primary{
	background-color: #89C4F4;
	border-color: #89C4F4;
}

.btn-info{
	background-color: #6fb3e0;
	border-color: #6fb3e0;
}

.btn-danger{
	background-color: #d15b47;
	border-color: #d15b47;
}
.btn-success{
	background-color: #87b87f;
	border-color: #87b87f;
}

.box-header{
	margin-bottom: 15px;
}

.pesan_form{
	height: 70px;
}

.fa{
	color: #eee;
}


.notif_error{
	height: 15px;
}

.form-group{
	position: relative;
}

/*hover*/
.hvr-sweep-to-right:before{
	background :#E2C150;
}

.hvr-icon-hang:before{
	color: #E2C150;
}
